<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="See all blogpost">
        <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/common.css'}" media="screen" />
        <link rel="stylesheet" type="text/css" th:href="@{'/css/allBlogpost.css'}" media="screen" />
    </head>

    <body class="background">

        <header class="header">
            <a th:href="@{/}">
                <img th:src="@{'/icon/logo.jpg'}" alt="logo">
            </a>
        </header>

        <section class="section" th:each="post : ${allPosts}">
            <a th:href="@{'/blog/' + ${post.getId()}}">
                <article class="article" th:text="${post.getTitle()}">
                    Blogpost
                </article>
            </a>
        </section>

    </body>
</html>