<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="See all blogpost">
        <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" th:href="@{../common.css}" media="screen" />
        <link rel="stylesheet" type="text/css" th:href="@{../blogpostDetails.css}" media="screen" />
    </head>

    <body class="background">

        <header class="header">
            <a th:href="@{/}">
                <img th:src="@{../logo.jpg}" alt="logo">
            </a>
        </header>

        <section>
            <article class="article">
                <p th:text="${post.getTitle()}"> titolo</p><br>
                <p th:text="'Author: ' + ${post.getAuthor()}">autore</p><br>
                Date: data<br>
                <p th:text="'Category: ' + ${post.getCategory().getName()}">categoria</p><br>
                <p th:text="'Text: ' + ${post.getText()}">Testo</p><br>
            </article>
            <br>
        </section>


    </body>

</html>