<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="See all blogpost">
        <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" href="common.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="blogpostDetails.css" media="screen" />
    </head>

    <body class="background">

        <header class="header">
            <a href="index.html">
                <img src="logo.jpg" alt="logo">
            </a>
        </header>

        <section>
            <article class="article">
                <a href="#">Title: titolo</a><br>
                Author: autore<br>
                Date: data<br>
                Category: categoria<br>
                Text: testo<br>
            </article>
            <br>
        </section>


    </body>

</html>