<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <meta charset="UTF-8">
            <meta name="description" content="Insert blogpost">
            <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" href="createBlogForm.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="common.css" media="screen" />
    </head>

    <body class="background">

        <header class="header">
            <a href="index.html">
                <img src="logo.jpg" alt="logo">
            </a>
        </header>

        <br><br><br>

        <form method="post">
            <table class="table" border="2">
                <tr>
                    <td class="title" colspan="2">Insert new blogpost</td>
                </tr>
                <tr>
                    <td class="field">Title</td>
                    <td>
                        <input type="text" name="title" />
                    </td>
                </tr>
                <tr>
                    <td class="field">Category</td>
                    <td>
                        <select>
                            <option value="1">Sport</option>
                            <option value="2">Cultura</option>
                            <option value="3">Scienza</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="field">
                        Text
                    </td>
                    <td>   
                        <textarea name="message" rows="10" cols="30">
                            Blogpost text
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Insert" />
                    </td>
                </tr>
            </table>
        </form>
    </body>

</html>