<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <meta charset="UTF-8">
            <meta name="description" content="Insert blogpost">
            <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/createBlogForm.css'}" media="screen" />
        <link rel="stylesheet" type="text/css" th:href="@{'/css/common.css'}" media="screen" />
        <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{'/css/index.css'}" media="screen" />
    </head>

    <body class="background">
    <div class="container">
        <header class="header">
            <a th:href="@{/}">
                <img th:src="@{'/icon/logo.jpg'}" alt="logo">
            </a>
        </header>

        <div th:replace="~{master :: navBar}"></div>
        <br><br><br>

        <!-- Se tolgo action, la richiesta post verrà fatta sull'indirizzo a cui è stato chiamato e non devo duplicare il form per l'inserimento e la modifica-->
        <form method="post" th:object="${newPost}">
            <table class="table" border="2">
                <tr>
                    <td class="title" colspan="2" th:text="${operation}">Insert new blogpost</td>
                </tr>
                <tr>
                    <td class="field">Title</td>
                    <td>
                        <input class="form-control" th:field="*{title}" type="text" name="title" />
                    </td>
                </tr>
                <tr>
                    <!--<td class="field">Author</td>-->
                    <!--<td>-->
                        <!--<select class="form-control" th:field="*{author}">-->
                            <!--<option th:each="author : ${allAuthor}" th:value="${author.getName()}" th:text="${author.getName()}">Author</option>-->
                        <!--</select>-->
                    <!--</td>-->
                </tr>
                <tr>
                    <td class="field">Category</td>
                    <td>
                        <select class="form-control" th:field="*{category}">
                            <option th:each="_category : ${allCategory}" th:value="${_category.getName()}" th:text="${_category.getName()}">Categoriee</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="field">
                        Text
                    </td>
                    <td>   
                        <textarea class="form-control" th:field="*{text}" th:text="${newPost.text}" name="text" rows="10" cols="30">
                            Blogpost text
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-primary" type="submit" th:value="${submitVal}" />
                    </td>
                </tr>
            </table>
        </form>
        <div th:replace="~{master :: footer}"></div>
    </div>
    </body>

</html>