<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deleted blogpost">
    <meta name="author" content="Alessandro Bianchi">
    <title>Deleted post</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/common.css'}" media="screen" />
    <link rel="stylesheet" type="text/css" th:href="@{'/css/allBlogpost.css'}" media="screen" />
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/index.css'}" media="screen" />

</head>

<body class="background">

<div class="container">
    <header class="header">
        <a th:href="@{/}">
            <img th:src="@{'/icon/logo.jpg'}" alt="logo">
        </a>
    </header>

    <div th:replace="~{master :: navBar}"></div>

    <br><br>

    <!--<section class="section" th:each="post : ${allPosts}">-->
        <!--<a th:href="@{'/blog/' + ${post.getId()}}">-->
            <!--<article class="article" th:text="${post.getTitle()}">-->
                <!--Blogpost-->
            <!--</article>-->
        <!--</a>-->



    <!--</section>-->

    <table >
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
        <tr th:each="post : ${allPosts}">
            <td th:text="${post.getId()}">id</td>
            <td><a th:text="${post.getTitle()}" th:href="@{'/blog/' + ${post.getId()}}">Titolo</a></td>
            <td th:text="${post.getAuthor().getName()}">Author </td>
            <td th:text="${post.getDate()}">Date </td>
        </tr>
    </table>

    <div th:replace="~{master :: footer}"></div>
</div>

</body>
</html>