<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Index of blogpost">
        <meta name="author" content="Alessandro Bianchi">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/common.css'}" media="screen" />
        <link rel="stylesheet" type="text/css" th:href="@{'/css/index.css'}" media="screen" />
        <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    </head>

    <body class="background">

    <div class="container">

        <header class="header">
            <a th:href="@{/}">
                    <img th:src="@{'/icon/logo.jpg'}" alt="logo">
                </a>
        </header>

        <!--<nav>-->
            <!--<ul class="nav">-->
                <!--<li class="navVoice" >-->
                    <!--<a class="navFont" th:href="@{'/blog/new'}">Insert new blogpost</a>-->
                <!--</li>-->
                <!--<li class="navVoice">-->
                    <!--<a class="navFont" th:href="@{'/all'}">See all blogpost</a></li>-->
            <!--</ul>-->
        <!--</nav>-->

        <div th:replace="~{master :: navBar}"></div>

        <br><br>

        <section class="section" th:each="post : ${allPosts}">
            <!--<article class="article">
                Blogpost 1 ...
            </article>

            <article class="article">
                Blogpost 2 ...
            </article>

            <article class="article">
                Blogpost 3 ...
            </article>-->

            <a th:href="@{'/blog/' + ${post.getId()}}">
                <article class="article" th:text="${post.getTitle()}">
                Blogpost
                </article>
            </a>
        </section>

        <br>

        <aside class="sidebar">
            Blogpost
        </aside>

        <br>

        <!--<footer class="footer">-->
            <!--<small>Copyleft CC-by 2018 by Alessandro Bianchi</small>-->
        <!--</footer>-->

        <div th:replace="~{master :: footer}"></div>

        </div>
    </body>

</html>