<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Index of blogpost">
        <meta name="author" content="Alessandro Bianchi">
        <title>Insert new blogpost</title>
        <link rel="stylesheet" type="text/css" href="common.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="index.css" media="screen" />
    </head>

    <body class="background">
        <header class="header">
                <a href="index.html">
                    <img src="logo.jpg" alt="logo">
                </a>
        </header>

        <nav>
            <ul class="nav">
                <li class="navVoice"><a class="navFont" href="createBlogForm.html">Insert new blogpost</a></li>
                <li class="navVoice"><a class="navFont" href="allBlogpost.html">See all blogpost</a></li>
            </ul>
        </nav>

        <br>

        <p th:text="${msg}">Welcome everyone!</p>

        <section class="section">
            <!--<article class="article">
                Blogpost 1 ...
            </article>

            <article class="article">
                Blogpost 2 ...
            </article>

            <article class="article">
                Blogpost 3 ...
            </article>-->

            <article th:each="post : ${allPosts}" th:text="${post.getId()}">
                Blogpost
            </article>

        </section>

        <br>

        <aside class="sidebar">
            Blogpost
        </aside>

        <br>

        <footer class="footer">
            Copyleft CC-by 2018 by Alessandro Bianchi
        </footer>

    </body>

</html>