<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org> >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/index.css'}" media="screen" />
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<footer class="footer card-footer bg-transparent" th:fragment="footer">
    <small>Copyleft CC-by 2018 by Alessandro Bianchi</small>
</footer>


<nav th:fragment="navBar">
    <ul class="nav">
        <li class="navVoice">
            <a class="navFont" th:href="@{'/'}">Home</a>
        </li>
        <li class="navVoice" >
            <a class="navFont" th:href="@{'/blog/new'}">Insert new blogpost</a>
        </li>
        <li class="navVoice">
            <a class="navFont" th:href="@{'/all'}">See all blogpost</a></li>
    </ul>
</nav>


</body>
</html>